{{#partial "body"}}

    <h1 class=" main ">Greet me</h1>

    <form method="post" action="/hello">
        <div class="row">
            <div class="col-12">
                First name:  <input type="text" name="firstName">
            </div>
        </div>
        <div>
            <button class="btn" type="submit">
                Greet
            </button>
<!--            <input type="submit">-->
        </div>
    </form>

{{/partial}}

{{> layout.hbs }}